* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: sans-serif;
}

/* HEADER */

.menuBar {
    background-color: darkseagreen;
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.logo {
    color: white;
    font-size: 2em;
    font-weight: lighter;
    text-transform:uppercase  ;
}

.logo span {
    color: darkslategray;
}

.menuBar ul {
    list-style: none;
    display: flex;
}

.menuBar ul li {
    padding: 10px 30px;
    position: relative;
}

.menuBar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;

    transition: all 0.2s;
}

.menuBar ul li a:hover {
    color: rgb(55, 84, 55);
}

.dropdown {
    display: none;
}

.menuBar ul li:hover .dropdown {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: darkseagreen;
}

.dropdown ul {
    display: block;
    margin: 10px;
}

.dropdown ul li {
    width: 150px;
    padding: 10px;
}

/* CONTENT */

.innehåll {
    display: flex;
    flex-direction: row;
    height: 681px;
    width: 100%;
    padding-left: 7em;
    padding-right: 7em;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1594768816441-1dd241ffaa67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
}

.textRuta {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 10px;
    align-content: flex-start;
    align-items: center;
    margin-right: 40px;
    /* background-color: yellow; */
}

.textRuta h1 {
    font-weight: 300;
    font-size: 40px;
}

.textRuta p {
    font-weight: 200;
}

.horseImage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    padding: 10px;
    align-content: center;
    /* background-color: yellowgreen; */
}
.horseImage img{
    position: relative;
    height: auto;
    width:30em;
    border-radius: 1rem;
}



/* FOOTER */

body {
    position: relative;
}
body::after{
    content:'';
    display: block;
    height: 225px;
}

footer {
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    background-color:darkseagreen;
    height: auto;
    width: 100vw;
    padding-top: 10px;
    color: white;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

.footerContent h3 {
    font-size: 1em;
    font-weight: 300;
    text-transform:capitalize;
    line-height: 3em;
}

.footerContent p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 2em;
    font-size: 15px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 2em 0;
}

.socials li {
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color:rgb(55, 84, 55);
}

.footerBottom {
    background-color: rgba(94, 115, 59, 0.675);
    width: 100vw;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.footerBottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footerBottom p a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.footerBottom span {
    text-transform: uppercase;
    opacity: 4;
    font-weight: 200;
}

/* INNEHÅLL KONTAKT MED TEXT OCH KNAPP*/

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 50vh;
    
}

.content h1 {
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: 300;
    font-size: x-large;
}

#textRuta {
    width: 400px;
    height: 200px;
    margin-bottom: 2em;
    outline: none;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: rgb(206, 205, 205);
    font-family:sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    
}

#textRuta:hover {
    cursor:text;
    background-color: rgb(231, 231, 231) ;
}

#knapp {
    width: 100px;
    height: 35px;
    border: none;
    color: white;
    background-color: darkseagreen;
    border-radius: 6px;
    transition: ease .2s;
    font-size: 1em;
}

#knapp:hover {
    color: rgb(55, 84, 55);
    cursor: pointer;
}




@media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }