* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: sans-serif;
}

/* HEADER */

.menuBar {
    background-color: darkseagreen;
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.logo {
    color: white;
    font-size: 2em;
    font-weight: lighter;
    text-transform:uppercase  ;
}

.logo span {
    color: darkslategray;
}

.menuBar ul {
    list-style: none;
    display: flex;
}

.menuBar ul li {
    padding: 10px 30px;
    position: relative;
}

.menuBar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;

    transition: all 0.2s;
}

.menuBar ul li a:hover {
    color: rgb(55, 84, 55);
}

.dropdown {
    display: none;
}

.menuBar ul li:hover .dropdown {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: darkseagreen;
}

.dropdown ul {
    display: block;
    margin: 10px;
}

.dropdown ul li {
    width: 150px;
    padding: 10px;
}


/* INNEHÅLL KONTAKT MED TEXT OCH KNAPP*/

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 50vh;
    
}

.content h1 {
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: 300;
    font-size: x-large;
}

#textRuta {
    width: 400px;
    height: 200px;
    margin-bottom: 2em;
    outline: none;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: rgb(206, 205, 205);
    font-family:sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    
}

#textRuta:hover {
    cursor:text;
    background-color: rgb(231, 231, 231) ;
}

#knapp {
    width: 100px;
    height: 35px;
    border: none;
    color: white;
    background-color: darkseagreen;
    border-radius: 6px;
    transition: ease .2s;
    font-size: 1em;
}

#knapp:hover {
    color: rgb(55, 84, 55);
    cursor: pointer;
}
